{{ define "header" }}

<header>
    <div class="wrapper">
        <h1><a href="/">Quicknotes</a></h1>
    </div>
    <nav>
        <div class="wrapper">
            {{ if isAuthenticated }}
                <a href="/notes">Home</a>
                <a href="/notes/new">Adicionar Anotação</a>
            {{ else }}
                <a href="/">Home</a>
            {{ end }}
            <div class="right">
                {{ if isAuthenticated }}
                    <a href="/user/signout">Sair</a>
                    <span class="profile">{{userEmail}}</span>
                {{ else }}
                    <a href="/user/signup">Cadastrar</a>
                    <a href="/user/signin">Entrar</a>
                {{ end }}
            </div>
        </div>
    </nav>
</header>

{{ end }}