{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }} - QuickNotes</title>
</head>
<body>
    <header>
        <div class="icon">QuickNote</div>
        <nav>
            <a href="/">home</a>
        </nav>
    </header>
    <main>
        {{ template "main" . }}
    </main>
    <footer>
        &copy;2024 Por Lucas da Silva Leoncio
    </footer>
</body>
</html>

{{ end }}