{{ define "title" }} Create Page {{ . }} {{ end }}
{{ define "main" }}
    <h1>Nova Anotação</h1>
    <form action="/notes" method="post">
        {{ with .FieldErrors }}

            <ul class="errors">
                {{ range . }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>

        {{ end }}
        {{ csrfField }}
        <fieldset>
            <label for="title">Título</label>
            {{ with .FieldErrors.title }}
    
                <label class="errors">{{ . }}</label>

            {{ end }}
            <input type="text" name="title" id="title" value="{{ .Title }}" />
        </fieldset>

        <fieldset>
            <label for="content">Conteúdo</label>
            {{ with .FieldErrors.content }}
            
                <label class="errors">{{ . }}</label>
            
            {{ end }}
            <textarea name="content" id="content" cols="30" rows="10">{{.Content}}</textarea>
        </fieldset>

        <fieldset>
            <label for="color">Cor do Cartão</label>
            <input type="hidden" name="color" id="color" value="{{ .Color }}" />
            <div class="color-picker">
                {{ $color := .Color }}
                {{ range .Colors }}
                    <div data-color="{{ . }}" class="color {{ . }} {{ if eq . $color }} active {{ end }}"></div>
                {{ end }}
            </div>
        </fieldset>

        <div class="buttons">
            <button class="success" type="submit">Salvar</button>
            <button id="cancel" class="neutral" type="button">Cancelar</button>
        </div>
    </form>
{{ end }}

{{ define "script" }}
    <script>
        $(".color").click(function () {
            $(".color").removeClass("active");
            $(this).addClass("active");
            $("#color").val($(this).data("color"));
        });

        $("#cancel").click(function(){
            window.location.href = "/"
        });
    </script>
{{ end }}