{{ define "title" }} View Page {{ .Id }} {{ end }}
{{ define "main" }}
<div class="note-view">
    <h3>Esta é a nota {{ .Title }}</h3>
    <p>{{ .Content }}</p>

    <div class="buttons">
        <button data-noteid="{{ .Id }}" id="info" class="info" type="button">Editar</button>
        <button data-noteid="{{ .Id }}" id="cancel" class="danger" type="button">Deletar</button>
    </div>
</div>
{{ end }}

{{ define "script" }}
<script>
    $(".note-view #cancel").click(function (e) {
        e.stopPropagation();

        if (window.confirm("Tem certeza que deseja deletar essa anotação?")) {
            $.ajax({
                url: `/notes/${$(this).data("noteid")}`,
                type: "DELETE",
                headers: {
                    "X-CSRF-Token": `{{ csrfToken }}`
                },
                success: function () {
                    window.location.href = "/notes";
                }
            });
        }
    });

    $(".note-view #info").click(function() { 
        window.location.href = `/notes/${$(this).data("noteid")}/update`
    });
</script>
{{ end }}